@use './variables' as *;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
//font-family: 'Offside', cursive;

.blog {
    height: 150vh;
    background-color: $pine;
}

.blog h2 {
    font-family: 'Offside', cursive;
    font-size: 2.1rem;
    color: $white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 2rem;
    font-weight: 200;
}

.blogTop {
    height: 50%;
}

.blogTop figure {
    height: 100%;
    width: 50%;
    float: right;
    margin-left: 4rem;
}

.blogTop p {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $white;
    padding-left: 13.5rem;
    padding-bottom: 2rem;
    
}

.blogButton{
    color: $deepGreen;
    margin-left: 13.5rem;
}
