@use './variables' as *;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
//font-family: 'Offside', cursive;

.contactUs {
    height: 50vh;
    background-color: $pine;
}

.contactH2 {
    font-family: 'Offside', cursive;
    font-size: 2.1rem;
    color: $white;
    padding-bottom: 1rem;
}

.contactLabel {
    display: block;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: $white;
    padding-bottom: 1rem;
}

.contactInput{
    line-height: 2rem;
    width: 50%;
    border: 0;
}

.contactButton {
    height: 2.3rem;
    background-color: $charcoal;
    color: $white;
    text-transform: uppercase;
    font-family: 'Offside', cursive;
    font-size: 1rem;
    padding-top: 10px;
    margin-top: 10px;
}

.contactInput::placeholder {
    font-size: 1rem;
}

.contactUs p {
    font-family: 'Barlow', sans-serif;
    color: white;
    padding-bottom: .5rem;
}

.pageLinks li {
    padding-bottom: 1rem;
}

.pageLinks a {
    font-family: 'Offside', cursive;
    text-shadow: none;
    font-weight: 200;
    font-size: 1.2rem;
}

.contactFlex {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px) {
    .contactFlex {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}