@use './variables' as *;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
//font-family: 'Offside', cursive;


header {
    height: 100vh;
    background-image: url(../assets/header-image.png);
    background-size: cover;
}

h1 {
    font-family: 'Barlow', sans-serif;
    color: $white;
    font-size: 3.44rem;
    line-height: 63.7px;
    letter-spacing: 0.8px;
    padding-top: 2rem;
}

header p {
    color: $white;
    font-family: 'Offside', cursive;
    display: inline-block
    
}

.navFlex {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    padding-right: 2rem;
    
}

li a{
    color: $white;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 2px #000;
    line-height: 29px;
}

.iconFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

aside ul li {
    padding-top: 1.5rem;
    padding-right: 2rem;
    position: relative;
    top: -200px;
}
