@use './variables' as *;
@use './header';
@use './about';
@use './blog';

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
//font-family: 'Offside', cursive;


// General styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 125%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
   
}

.wrapper {
        max-width: 1400px;
        width: 90%;
        margin: 0 auto;
}

li a:hover,
li a:focus {
    color: hsla(0, 0%, 100%, 0.70)
}

img {
    height: 100%;
    width: 100%;
}

button {
    font-family: 'Offside', cursive;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}