@use './variables' as *;
@use './header';

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
//font-family: 'Offside', cursive;


// General styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 125%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
   
}

.wrapper {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
}